#title{
    display: flex;
    margin: 40% 15%;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 22px;
}
#title #title-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0;
    width: 100%;
}

#welcome{
    display: flex;
    flex-direction: row;
}

#welcome-color, #title h2{
    color: #a767d8;
}

.button a{
    display: flex;
    margin: 1em;
    font-weight: 700;
    transition: 0.5s;
    color: black;
}

.button a:hover{
    transition: 0.5s;
    color: #a767d8;
}